<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      th:with="title='Adicionar evento'">
<th:block layout:fragment="content">
  <form action="#" th:action="@{/communities/{cid}/events/{eid}(cid=${community.id},eid=${event.id})}" th:object="${event}" method="post">
    <div th:include="~{communities/events/_event :: inputs}"></div>

    <a href="#" th:href="@{/communities/{cid}/events(cid=${community.id})}">
      <button type="button">Cancelar</button>
    </a>
    <button type="reset">Limpar</button>
    <button type="submit">Criar evento</button>
  </form>
</th:block>
</html>
