<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Adicionar evento</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <h1>Adicionar evento</h1>

  <form action="#" th:action="@{/communities/{cid}/events/{eid}(cid=${community.id},eid=${event.id})}" th:object="${event}" method="post">
    <div th:include="~{communities/events/_event :: inputs}"></div>

    <a href="#" th:href="@{/communities/{cid}/events(cid=${community.id})}">
      <button type="button">Cancelar</button>
    </a>
    <button type="reset">Limpar</button>
    <button type="submit">Criar evento</button>
  </form>
</body>
</html>
