<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Editar evento</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <h1>Editar evento</h1>

  <form action="#" th:action="@{/communities/{cid}/events/{eid}(cid=${community.id},eid=${event.id})}" th:object="${event}" method="post">
    <div th:include="~{communities/events/_event :: inputs}"></div>

    <input type="hidden" name="id" th:value="${event.id}">
    <a href="#" th:href="@{/communities/{cid}/events(cid=${community.id})}">
      <button type="button">Cancelar</button>
    </a>
    <button type="reset">Limpar</button>
    <button type="submit" name="update">Editar evento</button>
  </form>
</body>
<script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"></script>
<script th:inline="javascript">
$(document).ready(function() {
  let formatedDate = [[${#temporals.format(event.date, "yyyy-MM-dd'T'HH:mm")}]]
  $(".date-input").val(formatedDate)
});
</script>
</html>
