<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="inputs">
  <p>Nome: <input type="text" th:field="*{name}" /></p>
  <p>Descrição:<br>
    <textarea rows="10" cols="60" th:field="*{description}">Texto</textarea>
  </p>
  <!-- <h1>TODO: Adicionar membros iniciais</h1> -->
</div>


<div th:fragment="data">

  <h1 th:text="|Tarefa / ${task.name}|">Tarefa</h1>
  <p th:text="${task.description}">Descrição</p>
  <p th:text="|Status: ${(task.status == false) ? 'unfinished' : 'finished'}|">Status</p>
  <p th:text="|Deadline: ${task.deadline}|">Deadline</p>
  <p th:text="|Membros do time: ${task.team_members}|"></p>
  <h2 th:text="|Subtarefas|"></h2>
  <div class="box" th:each="t : ${task.subtasks}">
    <a th:text="${t.name}" th:href="|${t.id}|">Subtarefa</a>
    <p th:text="${t.description}">Descrição</p>
  </div>
  <h3 th:text="|Anotações|"></h3>
  <div class="box" th:each="t : ${task.notes}">
    <p th:text="${t}">anotação</p>
  </div>



  <button th:onclick="deleteTask(this.dataset)"
          th:data-id="${task.id}", th:data-pid="${cid}">Remover tarefa</button>

  <a href="/tasks"><button>Voltar</button></a>

  <!--  <button th:onclick="deleteCommunity(this.dataset)"-->
  <!--          th:data-cid="${community.id}">Remover comunidade</button>-->
  <!--  -->
  <!--  <div class="box">-->
  <!--    <h2>Publicações</h2>-->
  <!--    <a th:href="@{/communities/{cid}/add-publication(cid=${community.id})}">-->
  <!--      <button>Adicionar publicação</button>-->
  <!--    </a>-->

  <!--    <div class="box" th:each="p : ${#lists.sort(community.publications, recentPublicationComparator)}">-->
  <!--      <div th:replace="~{communities/_publication :: data}"></div>-->
  <!--    </div>-->
</div>
