<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Usuário</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="box">
      <h1 th:text="|Usuário / ${user.nome}|">Usuário</h1>
      <p th:text="Nascido em ${user.nascimento}"><i>Nascimento</i></p>
      <p th:text="${user.biografia}">Biografia</p>
      <p th:text="|${user.email}|"><i>Email</i></p>

      <h2>Habilidades</h2>
      <li th:each="skill : ${user.skills}" th:text="|${skill.nome} - ${skill.descricao}|"></li>

        <p><a href="/users">Back</a></p>
      </li>
    </div>
  </body>
</html>
