<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
  <title>Comunidade</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1 th:text="|Comunidade: ${community.name}|">Comunidade</h1>

	<h1>Publicações</h1>
	<div th:each="pub : ${community.publications}">
		<h2>publi</h2>
<!--		<h2 th:text="${pub.name}">Publicação 1</h2>-->
	</div>

	<h1>Comentários</h1>

	<h1>Projetos</h1>
	<div th:each="proj : ${community.projects}">
		<h2 th:text="${proj.name}">Projeto 1</h2>
	</div>

	<h1>Membros</h1>

	<h1>Eventos</h1>

<!--	<p><a href="/">Back</a></p>-->
</body>
</html>
