<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="inputs">
  <label for="name">Nome</label>
  <input type="text" class="form-control" th:field="*{name}" placeholder="Nome do projeto" required>

  <label for="description">Descrição</label>
  <textarea class="form-control" th:field="*{description}" rows="10"
            placeholder="Descrição do projeto"></textarea>
</th:block>

<th:block th:fragment="data">
  <h1 th:text="${project.name}">Projeto</h1>
  <p th:text="${project.description}">Descrição</p>
  <p th:text="|Prazo: ${#temporals.format(project.deadline, 'dd/MM/yyyy, HH:mm', 'pt_BR')}|">Prazo</p>

  <p><small>Criada por <a th:href="@{/users/{uid}(uid=${project.creator.name})}" th:text="${project.creator.name}">alguém</a> em <span th:text="${#temporals.format(project.created, 'dd/MM/yyyy, HH:mm', 'pt_BR')}">00/00/0000, 00:00</span></small></p>
</th:block>
