<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      th:with="title='Adicionar projeto'">
<th:block layout:fragment="content">
  <form action="#" th:action="@{/projects/}" th:object="${project}" method="post">
    <div th:replace="~{projects/_project :: inputs}"></div>

    <button type="submit" class="btn btn-primary">Adicionar</button>
    <a href="#" th:href="@{/projects}">
      <button type="button" class="btn btn-secondary">Cancelar</button>
    </a>
  </form>
</th:block>
</html>
