<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      th:with="title='Projetos'">
<th:block layout:fragment="content">

  <div class="row">
    <div class="col">
      <div>
        <a href="/projects/add-project" class="btn btn-primary" role="button">Adicionar projeto</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="list-group">
        <a th:each="p : ${projects}"
           th:href="@{/projects/{cid}(cid=${p.id})}"
           th:text="${p.name}"
           class="list-group-item list-group-item-action">Nome do projeto</a>
      </div>
    </div>
  </div>

</th:block>
</html>