<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Projetos</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Projetos</h1>
<a href="/projects/add-project"><button>Adicionar projeto</button></a>
<ul th:each="p : ${projects}">
    <li>
        <!--<a th:text="${p.name}" th:href="|projects/${p.id}|">Nome de projeto</a>-->
        <a th:text="${p.name}"  th:href="|projects/${p.id}|">Nome Projeto</a>
        </br>
        <a th:text="${p.name}"  th:href="|projects/names?name=${p.name}|">Nome Projeto</a>
    </li>
</ul>
<p><a href="/">Back</a></p>
</body>
</html>