<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="inputs">
  <p>Nome: <input type="text" th:field="*{name}" /></p>
  <p>Descrição:<br>
    <textarea rows="10" cols="60" th:field="*{description}">Texto</textarea>
  </p>
  <!-- <h1>TODO: Adicionar membros iniciais</h1> -->
</th:block>

<div th:fragment="data">
  <h1 th:text="|Comunidade / ${community.name}|">Comunidade</h1>

  <p class="replace-nl" th:text="${community.description}">Descrição</p>
  <p>Criada por <a th:href="@{/users/{uid}(uid=${community.creator})}" th:text="${community.creator}">alguém</a> em <span th:text="${#temporals.format(community.creationDate, 'dd/MM/yyyy, HH:mm', 'pt_BR')}">00/00/0000, 00:00</span></p>

  <div>
    <a class="btn btn-primary" role="button"
       th:href="@{/communities/{cid}/edit-community(cid=${community.id})}"
       >
       Editar informações</a>
    <a class="btn btn-danger" role="button"
       th:onclick="deleteCommunity(this.dataset)"
       th:data-cid="${community.id}">
       Remover comunidade</a>
  </div>

  <div class="box">
    <h2>Publicações</h2>
    <a class="btn btn-primary" role="button"
       th:href="@{/communities/{cid}/add-publication(cid=${community.id})}">
       Adicionar publicação</a>

    <div class="box" th:each="p : ${#lists.sort(community.publications, recentPublicationComparator)}">
      <div th:replace="~{communities/_publication :: data}"></div>
    </div>
  </div>
</div>