<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="inputs">
  <p>Título: <input type="text" th:field="*{title}" /></p>
  <p>Texto:<br>
    <textarea rows="10" cols="60" th:field="*{text}">Texto da publicação</textarea>
  </p>
</th:block>

<div th:fragment="data">
  <b><p th:text="${p.title}">Título</p></b>
  <p class="replace-nl" th:text="${p.text}">Texto</p>
  <p>Criada por <a th:href="@{/users/{uid}(uid=${p.author})}" th:text="${p.author}">alguém</a> em <span th:text="${#temporals.format(p.creationDate, 'dd/MM/yyyy, HH:mm', 'pt_BR')}">00/00/0000, 00:00</span></p>

  <div>
    <a class="btn btn-primary" role="button"
       th:href="@{/communities/{cid}/publications/{pid}/edit-publication(cid=${community.id},pid=${p.id})}">
       Editar publicação</a>
    <a class="btn btn-danger" role="button"
       th:onclick="deletePublication(this.dataset)"
       th:data-cid="${community.id}"
       th:data-pid="${p.id}">
       Remover publicação</a>
  </div>

  <div class="box">
    <h3>Comentários</h3>

    <a class="btn btn-primary" role="button"
       th:href="@{/communities/{cid}/publications/{pid}/add-comment(cid=${community.id},pid=${p.id})}">
       Adicionar comentário</a>

    <div class="box" th:each="c : ${#lists.sort(p.comments, recentCommentComparator)}">
      <div th:replace="~{communities/_comment :: data}"></div>
    </div>
  </div>
</div>