<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      th:with="title='Adicionar comentário'">
<th:block layout:fragment="content">
  <form action="#" th:action="@{/communities/{cid}/publications/{pid}(cid=${community.id},pid=${publication.id})}" th:object="${comment}" method="post">
    <th:block th:replace="~{communities/_comment :: inputs}"/>

    <a href="#" th:href="@{/communities/{cid}(cid=${community.id})}">
      <button type="button">Cancelar</button>
    </a>
    <button type="reset">Limpar</button>
    <button type="submit">Comentar</button>
  </form>
</th:block>
</html>
