<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Adicionar publicação</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <h1>Adicionar publicação</h1>

  <form action="#" th:action="@{/communities/{cid}(cid=${community.id})}" th:object="${publication}" method="post">
    <div th:include="~{communities/_publication :: inputs}"></div>

    <a href="#" th:href="@{/communities/{cid}(cid=${community.id})}">
      <button type="button">Cancelar</button>
    </a>
    <button type="reset">Limpar</button>
    <button type="submit">Publicar</button>
  </form>
</body>
</html>
