<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      th:with="title='Adicionar comunidade'">
<th:block layout:fragment="content">
  <form action="#" th:action="@{/communities}" th:object="${community}" method="post">
    <div th:include="~{communities/_community :: inputs}"></div>

    <a href="#" th:href="@{/communities}">
      <button type="button">Cancelar</button>
    </a>
    <button type="reset">Limpar</button>
    <button type="submit">Adicionar</button>
  </form>
</th:block>
</html>
