<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      th:with="title='Adicionar publicação'">
<th:block layout:fragment="content">
	<form action="#" th:action="@{/communities/{cid}(cid=${community.id})}" th:object="${publication}" method="post">
    <th:block th:replace="~{communities/_publication :: inputs}"/>

    <a href="#" th:href="@{/communities/{cid}(cid=${community.id})}">
      <button type="button">Cancelar</button>
    </a>
    <button type="reset">Limpar</button>
    <button type="submit">Publicar</button>
  </form>
</th:block>
</html>