<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Comunidade</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="box">
  <div th:replace="~{communities/_community :: data}"></div>
<!---->
  <div class="box">
    <h2>Projetos</h2>
    <ul>
      <!--TODO: project page-->
      <li th:each="p : ${community.projects}"><a th:href="@{/projects/{pjid}(pjid=${p.id})}" th:text="${p.name}">Projeto</a></li>
    </ul>
    <!--TODO: project creation page-->
    <a th:href="@{/projects/add-project}">
      <button>Adicionar projeto</button>
    </a>
    <a th:href="@{/communities/{cid}/projects(cid=${community.id})}">
      <button>Ver todos</button>
    </a>
  </div>

  <div class="box">
    <h2>Membros</h2>
    <ul>
      <!--TODO: user page-->
      <li th:each="m : ${community.members}"><a th:href="@{/users/{uid}(uid=${m.id})}" th:text="${m.id}">Membro</a></li>
    </ul>
    <!--TODO: member addition page-->
    <a th:href="@{/communities/{cid}/add-members(cid=${community.id})}">
      <button>Adicionar membros</button>
    </a>
    <a th:href="@{/communities/{cid}/members(cid=${community.id})}">
      <button>Ver todos</button>
    </a>
  </div>

  <div class="box">
    <h2>Eventos</h2>
    <div class="box" th:each="e : ${community.events}">
      <b><p th:text="${e.title}">Título</p></b>
      <p th:text="|Estado: ${eventStatus.getOrDefault(e.status, 'indefinido')}|">Estado: indefinido</p>
      <p th:text="${e.description}">Descrição</p>
      <p th:text="|Criado por ${e.creator}|">Criado por alguma coisa</p>
      <p th:text="|Agendado para ${#temporals.format(e.date, 'dd/MM/yyyy, HH:mm', 'pt_BR')}, com duração estimada de ${e.estimatedDuration}|">Agendado para 00/00/0000 às 00:00, com duração estimada de 0 horas</p>
      <div class="box">
        <h3>Notas</h3>
        <div th:each="n : ${e.notes}">
          <p th:text="${n}">Nota</p>
        </div>
      </div>
      <div class="box">
        <h3>Participantes</h3>
        <div th:each="v : ${e.participants}">
          <p th:if="${v.confirmationDate}" th:text="|${v.id} confirmado em ${#temporals.format(v.confirmationDate, 'dd/MM/yyyy, HH:mm', 'pt_BR')}|">Participante confirmado em 00/00/0000 às 00:00</p>
          <p th:unless="${v.confirmationDate}" th:text="|${v.id} não confirmado|">Participante não confirmado</p>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
<script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/community.js"></script>
</html>
