<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
  <title>Editar comunidade</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <h1>Editar comunidade</h1>

  <form action="#" th:action="@{/communities/{cid}(cid=${community.id})}" th:object="${community}" method="post">
    <div th:replace="~{communities/_community :: inputs}"></div>

    <input type="hidden" name="update">
    <a href="#" th:href="@{/communities/{cid}(cid=${community.id})}">
      <button type="button">Cancelar</button>
    </a>
    <button type="reset">Limpar</button>
    <button type="submit">Atualizar</button>
  </form>
</body>
</html>
