<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Editar comentários</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <h1>Editar comentários</h1>

  <form action="#" th:action="@{/communities/{cid}/publications/{pid}/comments/{cmid}(cid=${community.id},pid=${publication.id},cmid=${comment.id})}" th:object="${comment}" method="post">
    <div th:include="~{communities/_comment :: inputs}"></div>

    <input type="hidden" name="id" th:value="${comment.id}">
    <input type="hidden" name="update">
    <a href="#" th:href="@{/communities/{cid}(cid=${community.id})}">
      <button type="button">Cancelar</button>
    </a>
    <button type="reset">Limpar</button>
    <button type="submit">Atualizar</button>
  </form>
</body>
</html>
