<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      th:with="title='Editar comentários'">
<th:block layout:fragment="content">
  <form action="#" th:action="@{/communities/{cid}/publications/{pid}/comments/{cmid}(cid=${community.id},pid=${publication.id},cmid=${comment.id})}" th:object="${comment}" method="post">
    <th:block th:replace="~{communities/_comment :: inputs}"/>

    <input type="hidden" name="id" th:value="${comment.id}">
    <input type="hidden" name="update">
    <a href="#" th:href="@{/communities/{cid}(cid=${community.id})}">
      <button type="button">Cancelar</button>
    </a>
    <button type="reset">Limpar</button>
    <button type="submit">Atualizar</button>
  </form>
</th:block>
</html>
