<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Editar publicação</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <h1>Editar publicação</h1>

  <form action="#" th:action="@{/communities/{cid}/publications/{pid}(cid=${community.id},pid=${publication.id})}" th:object="${publication}" method="post">
    <div th:replace="~{communities/_publication :: inputs}"></div>

    <input type="hidden" name="id" th:value="${publication.id}">
    <a href="#" th:href="@{/communities/{cid}(cid=${community.id})}">
      <button type="button">Cancelar</button>
    </a>
    <button type="reset">Limpar</button>
    <button type="submit" name="update">Atualizar</button>
  </form>
</body>
</html>
