<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      th:with="title='Comunidades'">
<th:block layout:fragment="content">
  <div class="box">
    <a href="/">
      <button>Home</button>
    </a>
    <a href="/communities/add-community">
      <button>Adicionar comunidade</button>
    </a>

    <ul>
      <li th:each="c : ${communities}">
        <a th:text="${c.name}" th:href="@{/communities/{cid}(cid=${c.id})}">Nome de comunidade</a>
      </li>
    </ul>
  </div>
</th:block>
<th:block layout:fragment="custom_scripts">
  <script type="text/javascript" src="/js/community.js"></script>
</th:block>
</html>
