<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
  <title>Comunidades</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="box">
    <h1>Comunidades</h1>
    <a href="/"><button>Home</button></a>
    <a href="/communities/add-community"><button>Adicionar comunidade</button></a>

    <ul>
      <li th:each="c : ${communities}">
        <a th:text="${c.name}" th:href="@{/communities/{cid}(cid=${c.id})}">Nome de comunidade</a>
      </li>
    </ul>
  </div>
</body>
</html>
