<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      th:with="title='Comunidades'">
<th:block layout:fragment="content">
  <div class="container">
    <div class="box">
    <div class="row">
      <div class="col">
        <div>
          <a href="/communities/add-community" class="btn btn-primary" role="button">Adicionar comunidade</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="list-group">
          <a th:each="c : ${communities}"
            th:href="@{/communities/{cid}(cid=${c.id})}"
            th:text="${c.name}"
            class="list-group-item list-group-item-action">Nome de comunidade</a>
        </div>
      </div>
    </div>
    </div>
  </div>
</th:block>
<th:block layout:fragment="custom_scripts">
  <script type="text/javascript" src="/js/community.js"></script>
</th:block>
</html>
