<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      th:with="title='Membros da comunidade'">
<th:block layout:fragment="content">
  <div class="box">
    <h1 th:text="|Membros da comunidade '${community.name}'|">Membros da comunidade</h1>

    <div>
      <a class="btn btn-primary" role="button"
         th:href="@{/communities/{cid}/add-members(cid=${community.id})}">
         Adicionar projeto</a>
      <a class="btn btn-secondary" role="button"
         th:href="@{/communities/{cid}(cid=${community.id})}">
         Voltar</a>
    </div>

    <ul>
      <li th:each="m : ${community.members}">
        <a th:text="${m.id}" th:href="@{/users/{uid}(uid=${m.id})}">Nome do usuário</a> <span th:text="|entrou em ${#temporals.format(m.entryDate, 'dd/MM/yyyy, HH:mm', 'pt_BR')}|">entrou em uma data</span>
      </li>
    </ul>
  </div>
</th:block>
</html>
