<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
  <title th:text="|Membros da comunidade '${community.name}'|">Membros da comunidade</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="box">
    <h1 th:text="|Membros da comunidade '${community.name}'|">Membros da comunidade</h1>
    <a th:href="@{/communities/{cid}(cid=${community.id})}">
      <button>Voltar</button>
    </a>
    <a th:href="@{/communities/{cid}/add-members(cid=${community.id})}">
      <button>Adicionar membros</button>
    </a>

    <ul>
      <li th:each="m : ${community.members}">
        <a th:text="${m.id}" th:href="@{/users/{uid}(uid=${m.id})}">Nome do usuário</a> <span th:text="|entrou em ${#temporals.format(m.entryDate, 'dd/MM/yyyy, HH:mm', 'pt_BR')}|">entrou em uma data</span>
      </li>
    </ul>
  </div>
</body>
</html>
