<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      th:with="title='Projetos da comunidade'">
<th:block layout:fragment="content">
  <div class="box">
    <h1 th:text="|Projetos da comunidade '${community.name}'|">Projetos da comunidade</h1>

    <div>
      <a class="btn btn-primary" role="button"
         th:href="@{/projects/add-project}">
         Adicionar projeto</a>
      <a class="btn btn-secondary" role="button"
         th:href="@{/communities/{cid}(cid=${community.id})}">
         Voltar</a>
    </div>

    <ul>
      <li th:each="p : ${community.projects}">
        <a th:text="${p.name}" th:href="@{/projects/{pid}(pid=${p.id})}">Nome do projeto</a>
      </li>
    </ul>
  </div>
</th:block>
</html>
